h1 {
    text-align: center;
}

body {
    background-color: cadetblue;
}
table.game {
    margin-left: 25%;
    width: 50%;
    height: 50%;
}

tr{
    height: 33%;
    width: 33%;
}

button {
    size: 100%;
}



